<app-loading *ngIf="loading"></app-loading>

<ng-container *ngIf="!loading">
  <div class="row animated fadeIn">
    <div class="col-2">
      <img [src]="artist.images | noImage" class="img-thumbnail img-circle" />
    </div>
    <div class="col">
      <h3>{{artist.name}}</h3>
      <a [href]="artist.external_urls.spotify" target="_blank">
        Ir a la página del artista
      </a>
    </div>
    <div class="col-4 text-right">
      <button routerLink="/search" class="btn btn-outline-success">Regresar</button>
    </div>
  </div>

  <div class="row animated fadeIn m-5">
    <div class="col">
      <table class="table" style="color:white">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Álbum</th>
            <th>Canción</th>
            <th>Vista previa</th>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor="let track of topTracks">
          <td>
            <img class="img-thumb" [src]="track.album.images | noImage">
          </td>
          <td>{{track.album.name}}</td>
          <td>{{track.name}}</td>
          <td>
            <!--<audio [src]="track.preview_url" controls></audio>-->
            <iframe
              [src]="track.uri | secureDom: 'https://open.spotify.com/embed?uri='"
              width="300"
              height="80"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media">
            </iframe>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
